{% extends 'moliuWeb/base.html' %}
{% load static %}

{% block title %} Moliu | Actividades {% endblock %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Actividades</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:index' %}">Moliu</a></li>
        <li class="breadcrumb-item active">Actividades</li>
        </ol>
      </div>
      </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Datos de las Actividades guardadas</h3>
            <div class="card-tools">
              <button disabled type="button" class="btn bg-primary">Añadir actividad</button>
            </div>
          </div>
          <div class="card-body">
            <table id="example2" class="table table-hover">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              {% for activity in object_list %}
              <tr>
                <td> {{ activity.name }} </td>
                <td> {{ activity.description }} </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block javascript %}

{{ block.super }}

<!-- DataTables  & Plugins -->
<script src="{% static 'moliuWeb/js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'moliuWeb/js/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'moliuWeb/js/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'moliuWeb/js/datatables/responsive.bootstrap4.min.js' %}"></script>

<script>
  $(function () {
    $('#activities').addClass('active');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
    $('.pagination').addClass('float-right');
  });
</script>

{% endblock %}