{% extends 'moliuWeb/base.html' %}
{% load static %}

{% block title %} Moliu | Añadir modelo {% endblock %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
      <div class="col-sm-6">
          <h1>Añadir modelo</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:index' %}">Moliu</a></li>
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:models' %}">Modelos</a></li>
        <li class="breadcrumb-item active">Añadir modelo</li>
        </ol>
      </div>
      </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i>Importación de modelo incorrecta</h5>
                {{ form.errors.filename }}
            </div>
        {% endif %}

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Rellene los siguientes campos</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="name">Nombre</label>
                                {{ form.name }}
                            </div>

                            <div class="col-sm-6">
                                <label for="description">Descripción</label>
                                {{ form.description }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Técnica de aprendizaje</label>
                        {{ form.learningTechnique }}
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">Modelo</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <label class="custom-file-label" for="{{ form.filename.id_for_label }}">
                                    Elija un modelo creado a partir de Weka (".model")
                                </label>
                                {{ form.filename }}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Importar modelo</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}


{% block javascript %}

{{ block.super }}

<script src="{% static 'moliuWeb/js/bs-custom-file-input.min.js' %}"></script>

<script>
  $(function () {
    bsCustomFileInput.init();
    $('#models').addClass('active');
  });
</script>

{% endblock %}