{% extends 'moliuWeb/base.html' %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
      <div class="col-sm-6">
          <h1 class="m-0">Pacientes</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:index' %}">Moliu</a></li>
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:patients' %}">Pacientes</a></li>
        <li class="breadcrumb-item active">Añadir paciente</li>
        </ol>
      </div>
      </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <form method="POST">
      {% csrf_token %}

      {{ form.as_p }}

      <input type="submit" value="Confirmar">
  </div>
</section>

{% endblock %}


{% block javascript %}

{{ block.super }}

<script>
  $(function () {
      $('#patients').addClass('active');
  });
</script>

{% endblock %}