{% extends "moliuWeb/base.html" %}
{% load static %}

{% block title %} Moliu | Clasificar posturas {% endblock %}

{% comment %}
    La idea es hacer un container fluid y dentro dos columnas
{% endcomment %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Clasificar posturas</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:index' %}">Moliu</a></li>
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:games' %}">Partidas</a></li>
        <li class="breadcrumb-item active">Clasificar posturas</li>
        </ol>
      </div>
    </div>
  </div>
</section>


<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <section class="col-lg-7 connectedSortable">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              Postura
            </h3>
          </div><!-- /.card-header -->
          <div class="card-body d-flex justify-content-center">
            <img src="/media/{{ posture.image }}" alt="Postura" class="img-fluid">
          </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
      </section>
      <section class="col-lg-5 connectedSortable">
        <!-- Map card -->
        <div class="card-info">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-star mr-1"></i>
              Puntuación. <span class="text-bold">Puntúe la postura de 0 a 100</span>
            </h3>
          </div>
          <div class="card-body">
            <button class="score-option mb-3 btn bg-danger w-100" value="{{ posture.Scores.VERY_BAD }}">
                <h2 class="mb-0 text-center text-bold">
                  0
                </h2>
            </button>

            <button class="score-option mb-3 btn bg-orange w-100" value="{{ posture.Scores.BAD }}">
              <h2 class="mb-0 text-center text-bold">
                25
              </h2>
            </button>

            <button class="score-option mb-3 btn bg-warning w-100" value="{{ posture.Scores.REGULAR }}">
              <h2 class="mb-0 text-center text-bold">
                50
              </h2>
            </button>

            <button class="score-option mb-3 btn bg-lime w-100" value="{{ posture.Scores.GOOD }}">
              <h2 class="mb-0 text-center text-bold">
                75
              </h2>
            </button>

            <button class="score-option btn mb-3 bg-success w-100" value="{{ posture.Scores.VERY_GOOD }}">
              <h2 class="mb-0 text-center text-bold">
                100
              </h2>
            </button>

            <button class="score-option btn bg-info w-100" value="">
              <h2 class="mb-0 text-center text-bold">
                No sirve
              </h2>
            </button>
          </div>
          <!-- /.card-body-->
          <div class="card-footer bg-transparent">
            <div class="row justify-content-center">
                <form id="classifyPosturesForm" action="{% url 'moliuWeb:classifyPostures' posture.game.id %}" method="post">
                  {% csrf_token %}
                  {{ form.game }}
                  {{ form.score }}
                  {{ form.image }}
                  {{ form.isScored }}
                  <button type="submit" class="btn btn-info">Siguiente postura</button>
                </form>
              <!-- ./col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.card -->
      </section>
    </div>
  </div>
</section>

{% endblock %}


{% block javascript %}

{{ block.super }}

<!-- Page specific script -->
<script type="text/javascript">
  $(function () {
    $('#games').addClass('active');

    $(".score-option").click(function(){
      $(".score-option").each((index, element) => {
        element.style.border = null;
        $(element).removeClass("active-option");
      });
      this.style.border = "5px blue solid";
      $(this).addClass("active-option");
      document.getElementById('id_isScored').checked = true;
      document.getElementById('id_score').value = this.value;
    });

    document.onkeydown = function(event) {
      let scoreOptionActive = document.getElementsByClassName("active-option")[0];
      let scoreOptions = document.getElementsByClassName("score-option");

      switch(event.key) {
        case '0':
          scoreOptions[0].click();
          break;
        case '1':
          scoreOptions[1].click();
          break;
        case '2':
          scoreOptions[2].click();
          break;
        case '3':
          scoreOptions[3].click();
          break;
        case '4':
          scoreOptions[4].click();
          break;
        case '5':
          scoreOptions[5].click();
          break;
        case 'ArrowDown': {
          if(scoreOptionActive === undefined) {
            scoreOptions[0].click();
          } else if(scoreOptionActive.nextElementSibling !== null) {
            scoreOptionActive.nextElementSibling.click();
          }
        } break;
        case 'ArrowUp': {
          if(scoreOptionActive === undefined) {
            scoreOptions[0].click();
          } else if(scoreOptionActive.previousElementSibling !== null) {
            scoreOptionActive.previousElementSibling.click();
          }
        } break;
        case 'Enter': {
          if(document.getElementById('id_isScored').checked === true) {
            document.getElementById('classifyPosturesForm').submit();
          }
        } break;
        default: ;
      }
    }
  });
</script>

{% endblock %}