{% extends "moliuWeb/base.html" %}
{% load static %}

{% block title %} Moliu | Partidas {% endblock %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Partidas</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:index' %}">Moliu</a></li>
        <li class="breadcrumb-item active">Partidas</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    {% if form.errors %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i>Importación de partida incorrecta</h5>
        {{ form.errors.video.as_text }}
      </div>
    {% endif %}

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h5><i class="icon fas fa-info"></i>No quedan posturas por clasificar</h5>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Datos de las Partidas guardadas</h3>
            <div class="card-tools">
              <a href="{% url 'moliuWeb:importGame' %}">
                <button type="button" class="btn bg-primary">Importar partida</button>
              </a>
              <!-- <form action="{% url 'moliuWeb:games' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.video }}
                <button type="button" class="btn bg-primary">Importar partida</button>
              </form> -->
            </div>
          </div>
          <div class="card-body">
            <table id="example2" class="table table-hover">
              <thead>
              <tr>
                <th>Actividad</th>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Modelo</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              {% for game in object_list %}
              <tr>
                <td> {{ game.activity }} </td>
                <td> {{ game.patient }} </td>
                <td> {{ game.date }} </td>
                <td> {{ game.model }} </td>
                <td>
                  <a href="{% url 'moliuWeb:classifyPostures' game.id %}">
                    <button type="button" class="btn btn-info">Clasificar posturas</button>
                  </a>
                  <a href="{% url 'moliuWeb:deleteGame' game.id %}">
                    <button type="button" class="btn btn-danger">Eliminar partida</button>
                  </a>
                  <a href="{% url 'moliuWeb:exportGameData' game.id %}">
                    <button type="button" class="btn btn-dark">Exportar datos</button>
                  </a>
                </td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block javascript %}

{{ block.super }}

<!-- DataTables  & Plugins -->
<script src="{% static 'moliuWeb/js/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'moliuWeb/js/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'moliuWeb/js/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'moliuWeb/js/datatables/responsive.bootstrap4.min.js' %}"></script>

<!-- Page specific script -->
<script>
  $(function () {
    $('form button').click(
      function() {
        $('form input').click();
      }
    );
    $('form input').on('change', function() {
      this.form.submit();
    });
    $('#games').addClass('active');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
    $('.pagination').addClass('float-right');
  });
</script>

{% endblock %}