{% extends 'moliuWeb/base.html' %}

{% block title %} Moliu | Añadir paciente {% endblock %}

{% block content %}

<section class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
      <div class="col-sm-6">
          <h1>Añadir paciente</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:index' %}">Moliu</a></li>
        <li class="breadcrumb-item"><a href="{% url 'moliuWeb:patients' %}">Pacientes</a></li>
        <li class="breadcrumb-item active">Añadir paciente</li>
        </ol>
      </div>
      </div>
  </div>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
        {% if form.errors %}
          <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h5><i class="icon fas fa-ban"></i>Creación de paciente incorrecta</h5>
              {{ form.errors.nickname }}
          </div>
        {% endif %}

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Rellene los siguientes campos</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="name">Nombre</label>
                                {{ form.name }}
                            </div>

                            <div class="col-sm-6">
                                <label for="surnames">Apellidos</label>
                                {{ form.surnames }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nickname">Nombre de usuario</label>
                        {{ form.nickname }}
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Añadir paciente</button>
                </div>
            </form>
        </div>
  </div>
</section>

{% endblock %}


{% block javascript %}

{{ block.super }}

<script>
  $(function () {
      $('#patients').addClass('active');
  });
</script>

{% endblock %}