{% extends "moliuWeb/base.html" %}
{% load static %}

{% block title %} Moliu | Importar partida {% endblock %}

{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Importar partida</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'moliuWeb:index' %}">Moliu</a></li>
          <li class="breadcrumb-item"><a href="{% url 'moliuWeb:games' %}">Partidas</a></li>
          <li class="breadcrumb-item active">Importar partida</li>
          </ol>
        </div>
        </div>
    </div>
  </section>

<section class="content">
    <div class="container-fluid">
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fas fa-ban"></i>Importación de partida incorrecta</h5>
            {{ form.errors.video }}
            {{ form.errors.joints }}
            </div>
        {% endif %}
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Rellene los siguientes campos</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputFile">Vídeo</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <label class="custom-file-label" for="{{ form.video.id_for_label }}">
                                    Elija un archivo (".avi" o ".mp4")
                                </label>
                                {{ form.video }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputFile">Joints</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <label class="custom-file-label" for="{{ form.joints.id_for_label }}">
                                    Elija un archivo (".txt")
                                </label>
                                {{ form.joints }}
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Importar partida</button>
                </div>
            </form>
        </div>
    </div>
  </section>

{% endblock %}

{% block javascript %}

{{ block.super }}

<script src="{% static 'moliuWeb/js/bs-custom-file-input.min.js' %}"></script>

<script>
    $(function () {
      bsCustomFileInput.init();
      $('#games').addClass('active');
    });
</script>

{% endblock %}