h1, h2, h3, h4, h5, h6, small {
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
}

.items-list {
    padding-left: 0;
    list-style: none;
}

.items-list > div {
    float: left;
    padding: 10px;
    text-align: center;
}

.items-list > div img {
    border-radius: 2%;
    height: 100px;
    max-width: 100%;
    cursor: pointer;
}

.items-list > div > button:hover,
.items-list > div > button:hover .item {
    color: #999;
    opacity: 0.8;
}

.item {
    color: #495057;
	font: inherit;
    font-size: 0.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
}