body {
    background-color: #b6ffb6;
}

h1, h2, h3, h4, h5, h6, small {
    font-family: 'Sansita Swashed', cursive;
    margin: 0;
}

p {
    /* font-family: 'Sansita Swashed', cursive; */
    margin: 0;
}